<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <!--
          Work around emulator/runtime crashes in ART profile saving that currently
          surface around Compose text input classes. Keep release behavior intact
          and disable only debug auto profile installation.
        -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            tools:node="merge">
            <meta-data
                android:name="androidx.profileinstaller.ProfileInstallerInitializer"
                tools:node="remove" />
        </provider>

        <receiver
            android:name="androidx.profileinstaller.ProfileInstallReceiver"
            tools:node="remove" />
    </application>
</manifest>
